// Config of private elements

#define WIFI_SSID "HereYourWifiSSID"
#define WIFI_PASS "HereYourWifiPassword"

#define GOOGLE_MAP_API_KEY "HereYourGoogleMapAPI" //write your google map APi between the " "