// Config inclusion

//#define WIFI_SSID "Bender Aphrodite"
//#define WIFI_PASS "bender le chat de ginette"
#define GOOGLE_MAP_API_KEY "AIzaSyDLo1YPxFG6HKQd-uQ3darr7jfa8TgFswA"

#define WIFI_SSID "Livebox-C99E"
#define WIFI_PASS "FE73127ED44C5FCF95C5E43CDE"
#define GOOGLE_MAP_API_KEY "AIzaSyDLo1YPxFG6HKQd-uQ3darr7jfa8TgFswA"